
{% extends "TiendaApp/base.html" %}

{% load static %}

{% block content %}

      


        <div class="conteiner"  style="float:right; margin: right 20px;" >
            
            {% include "TiendaApp/Carro/widget.html" %}

        </div>   
        
        <div class="container mx-auto mt-4">                    
            <div class="row">
                    
                {% for Producto in Productos %} <!-- Bucle para crear tantas tarjetas como productos -->
                <div>
                    <p>
                    <div class="col-md-4"> <!-- Dist. de columnas -->
                        <div class="card" style="width: 20rem;"> <!-- Tarjeta abre -->
                           <img src="{{Producto.imagen.url}}" class="card-img-top" alt="...">
            
                            <div class="card-body" style="text-align: center;">
                                <h5 class="card-title"> {{Producto.marca}}</h5>
                                <h6 class="card-text">{{Producto.modelo}}</h6>
                                <h5 class="card-text">&nbsp;$ {{Producto.precio}}</h5>

                                <div class="card-footer text-center">
                                    <a href="{% url 'agregar' producto_id=Producto.id %}" class="btn btn-warning"><i class="fas fa-link"></i> Agregar al Carrito</a>
                                 
                                </div>
                            
                            </div>

                        </div> <!-- Cierre Tarjeta -->
                       
            
                    </div>
                    </p>
                </div>
                {% endfor %} <!-- Cierre bucle -->
            </div>
        </div>
        {% endblock %}

