
{% extends "TiendaApp/base.html" %}

{% load static %}

{% load widget_tweaks %}

{% block content %}



<div class="container mt-5" style="margin-bottom: 10%;">
  <div  class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card px-5 py-5" style="background-color: rgba(41, 38, 38, 0.699);">
        <h2 style="color: rgb(252, 250, 249); text-align: center">  Ingrese usuario y contraseña</h2>
        <p></p>
                <form method="post">
                          {% csrf_token %}
                          {% for field in form %}
                          <div class="form-group" style="color: antiquewhite;"  >
                              {{ field.label_tag }}
                              {% render_field field class+="form-control" %}
                              {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                              {% endif %}
                          </div>
                          {% endfor %}
                <button type="submit" class="btn btn-warning ">Login</button>
                <p></p>
                {% if form.errors %}
                <div style="color: rgb(53, 54, 43);"   class="alert alert-danger" role="alert"  >
                    Por favor, ingrese un usuario y contraseña válidos.
              </div>
                {% endif %}

            </form>
        </div>
      </div>
    </div>
</div>





{% endblock %}